
#map {
    width: 100%;
    height: calc(100vh - 295px);
}

@media only screen and (max-device-width : 640px) {
    /* Styles */
    #map {
        width: 100%;
        height: 300px;
    }
}
    
@media only screen and (max-device-width: 850px) {
    /* Styles */
    #map {
        width: 100%;
        height: 450px;
    }
}

.ol-control {
    border-radius: 1px !important;
    padding: 0px !important;
}

.ol-control button {
    font-size: 1.24em !important;
    height: 1.575em !important;
    width: 1.575em !important;
    background-color:rgb(23,162,184) !important;
    opacity:0.85 !important;
}

.ol-control-button, .ol-zoom-in, .ol-zoom-out {
    background-color:rgb(23,162,184) !important;
    opacity:0.85 !important;
}
  
.ol-zoom-in:hover{
    opacity:0.75 !important;
}
.ol-zoom-out:hover{
    opacity:0.75 !important;
}



.ol-popup {
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 3px;
    // border: 2px solid #830606;
    border: 2px solid rgb(0, 0, 0);
    bottom: 12px;
    left: -50px;
    min-width: 220px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    // border-top-color: #830606;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #000;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}