#map {
    width: 100%;
    height: 100vh;
}

.ol-control {
    border-radius: 1px !important;
    padding: 0px !important;
}

.ol-control button {
    font-size: 1.24em !important;
    height: 1.575em !important;
    width: 1.575em !important;
    background-color:rgb(183,28,28) !important;
    opacity:0.85 !important;
}

.ol-control-button, .ol-zoom-in, .ol-zoom-out {
    background-color:rgb(183,28,28) !important;
    opacity:0.85 !important;
}
  
.ol-zoom-in:hover{
    opacity:0.75 !important;
}
.ol-zoom-out:hover{
    opacity:0.75 !important;
}



.ol-popup {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 2px;
    // border: 2px solid #830606;
    border: 2px solid rgb(95, 88, 88);
    bottom: 12px;
    left: -50px;
    min-width: 220px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    // border-top-color: #830606;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}